@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#2b1055,#7597de);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .logo {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
	background: #fff;
	color: #2b1055;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

section::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #1c0522, transparent);
	z-index: 1000;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section img#moon {
	mix-blend-mode: screen;
}

section img#mountains_front {
	z-index: 10;
}

#text {
	position: absolute;
	right: -350px;
	color: #fff;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;

}

#btn {
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}

.sec {
	position: relative;
	padding: 40px;
	background: linear-gradient(180deg, rgba(28,5,34,1) 0%, rgba(28,5,34,1) 50%, rgba(0,0,0,1) 100%);
}

.page1 {
	margin-left: -50px;
	margin-right: -50px;
}

.sec h2 {
	margin-top: 15px;
	margin-bottom: -14px;
	display: inherit;
	color: white;
	border-radius: 40px;
	text-align: center;
	font-size: 3.3em;
	transform: translateY(20px);
}

.copyright {
	text-align: center;
	color: #fff;
}
.textaccueil {
	font-size: 1.2em;
	text-align: center;
	color: #fff;
}

.avantcontact {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
}

.dust {
	background: url(dust3.png);
	height: 100%;
}

.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #15041a;
   box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4); 
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #2b1055;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6942a6;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #6942a6;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #7d63a6;
}

@media (max-width: 725px) {
  	header ul {
		flex-direction: column;
		}

		section {
	 	flex-direction: column;
			}
  	}
  }
}
